{block content}
<div class="container">
    <h2>{_pages.contacts.title}</h2>

    <p>
        Telefon: <a href="tel:+420606460316">+420 606 460 316</a><br />
        Email: <a href="mailto:info@hledejsmysl.cz">info@hledejsmysl.cz</a>
    </p>
</div>
