{block content}
<div class="container">
    <h2>{_pages.sources.fullTitle}</h2>

    <ul>
        <li><a href="https://nette.org/">https://nette.org/</a> - Nette Framework pro tvorbu webových aplikací</li>
        <li><a href="http://getbootstrap.com/">http://getbootstrap.com/</a> - Framework pro responzivní weby</li>
        <li><a href="http://fontawesome.io/">http://fontawesome.io/</a> - Ikony</li>
        <li><a href="http://subtlepatterns.com/purty-wood/">http://subtlepatterns.com/purty-wood/</a> - Textura Purty Wood</li>
    </ul>
</div>
