madeWith: 'Made with'
madeWithLove: 'Made with love'
premiumQuality: 'Premium quality'
goodPrice: 'Good price'
language: 'Language'
moreInfo: 'more information'
title: 'With love'
inHarmonyWithNature: 'In harmony with nature'