madeWith: 'Vytvořeno s'
madeWithLove: 'Vytvořeno s láskou'
premiumQuality: 'Prémiová kvalita'
goodPrice: 'Výhodná cena'
language: 'Jazyk'
moreInfo: 'více informací'
title: 'S láskou'
inHarmonyWithNature: 'V harmonii s přírodou'