disclaimers:
    title: 'Disclaimers'
termsOfUse:
    title: 'Terms of use'
sources:
    title: 'Used sources'
    fullTitle: 'Used sources and tools'
about:
    title: 'About Us'
criteria:
    title: 'Classification Criteria'
contacts:
    title: 'Contacts'
companyList:
    title: 'List of companies'
productList:
    title: 'List of products'
license:
    title: 'License'