disclaimers:
    title: 'Vyloučení odpovědnosti'
termsOfUse:
    title: 'Podmínky použití'
sources:
    title: 'Použité zdroje'
    fullTitle: 'Použité zdroje a nástroje'
about:
    title: 'O nás'
criteria:
    title: 'Kritéria hodnocení'
contacts:
    title: 'Kontakty'
companyList:
    title: 'Seznam společností'
productList:
    title: 'Seznam produktů'
license:
    title: 'Licence'