{block content}
<div class="container">
    <h2>{_pages.disclaimers.title}</h2>

    <ul>
        <li>Toto ustanovení "<a n:href="Disclaimers:">Vyloučení odpovědnosti</a>" je součástí <a n:href="TermsOfUse:">Podmínek použití</a>.</li>
        <li>Provozovatel webu, ani autor textu nenese žádnou zodpovědnost za pravdivost uvedených informací.</li>
    </ul>
</div>