<div id="head">
    <div class="container">
        <a n:href="Homepage:">
            <h1>{_general.title} <i class="fa fa-heart" aria-hidden="false"></i>  <sup><span class="small">BETA</span></sup></h1>
        </a>
    </div>
</div>
