{block content}
<div class="container">
    <h2>{_pages.companyList.title}</h2>

    {foreach $companies as $company}
        {if $iterator->first}<ul>{/if}
            <li><a n:href="detail?id=$company->id">{$company->name}</a></li>
        {if $iterator->last}</ul>{/if}
    {/foreach}
</div>