{block content}
<div class="container">
    <h2>{_pages.termsOfUse.title}</h2>

    <p>
        Používáním webu souhlasíte s těmito podmínkami a dále souhlasíte s <a n:href="Disclaimers:">Vyloučením odpovědnosti</a>.
    </p>
</div>