{block content}
<div class="container">
    <h2>{_pages.license.title}</h2>

    <ul>
        <li>Veškerý obsah (vyjma obsahu třetích stran) je k dispozici pod svobodnou licencí. Cokoliv můžete kopírovat a využívat pro libovolné účely a nemusíte uvádět autora.</li>
    </ul>
</div>